//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-shadow-light: rgba($color-black, .15);
$color-shadow-dark: rgba($color-black, .5);

//SHADOWS
$shadow-extra-small: 0 .5rem 1rem $color-shadow-light;
$shadow-small: 0 1rem 2rem $color-shadow-light;
$shadow-medium: 0 1.5rem 4rem $color-shadow-light;
$shadow-large: 0 2.5rem 4rem $color-shadow-dark;
$shadow-extra-large: 0 3rem 6rem $color-shadow-light;

//CONTAINER PROPERTIES
$border-radius-small: 3px;
$border-radius-large: 10rem;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
