body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.8rem;

        animation: moveInLeft 600ms ease-out;
    }

    &--sub {
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 1.6rem;

        animation: moveInRight 600ms ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;

    &:hover {
        transform: skewY(2deg) skewX(-20deg) scale(1.1);
        text-shadow: .3rem .5rem 1rem rgba($color-black, .1);
    }
}